env/
venv/
__pycache__/
.pytest_cache/
.idea/
static/
.git/
.gitignore
.dockerignore
Dockerfile
buildspec.yml
.vscode
.env
.venv
*.css.map
*.db
*.sqlite3
*.py[cod]
*$py.class
README.md
LICENSE
portfolio/settings_local.py