<table class="table table-hover">
    <caption>New York-Style Pizza Dough Recipe</caption>
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Percent</th>
            <th>Grams</th>
            <th>Ounces</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient, amounts in recipe_table.items %}
            {% if not forloop.last %}
                <tr>
                    <th>{{ ingredient | title }}</th>
                    <td>{{ amounts.Percent | floatformat:-2 }}{{ '%' }}</td>
                    <td>{{ amounts.Grams | floatformat:-2 }}</td>
                    <td>{{ amounts.Ounces | floatformat:-2 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{ 'Total' }}</th>
            <td>{{ recipe_table.total.Percent | floatformat:-2 }}{{ '%' }}</td>
            <td>{{ recipe_table.total.Grams | floatformat:-2 }}</td>
            <td>{{ recipe_table.total.Ounces | floatformat:-2 }}</td>
        </tr>
    </tfoot>
</table>
